# Variável para definir o ambiente (DEV ou PROD)
AMBIENTE="DEV"

# Segredo usado para assinar o JWT de sessao.
JWT_SECRET="XXX-YYY-ZZZ"

# Segredo usado para criptografia reversivel
JWT_SECRET_REVERSIVEL="XXX-YYY-ZZZ"

# Validade do JWT de recuperação de senha. Ex: 1h, 3600.
JWT_RECUPERACAO_SENHA_VALIDADE="10m"

# Validade do JWT de sessao. Ex: 7d, 24h, 3600.
JWT_VALIDADE="7d"

#OBSERVAÇÃO > o tempo do JWT deve ser igual ao tempo do cookie de sessao para evitar problemas de expiração.

# Validade do cookie de sessao em segundos. 604800 = 7 dias.
MAXAGE_COOKIE=604800

# Credenciais do banco de dados PostgreSQL.
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DATABASE="banco"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_SSL=false

# Configurações SMTP usadas pelo envio de e-mails transacionais.
SMTP_HOST="smtp.xxxx.com"
SMTP_PORT=587
SMTP_USER="xxxxxxx@gmail.com"
SMTP_PASS="xxx aaaa bbb www"
SMTP_FROM="xxxxx@gmail.com"
    
#anotação de login admin
#email: admin.dev@email.com
#senha: dev@admin#2026template
